<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <div class="col"><%- include ('../partials/message') %></div>
    <div class="container">
      <!-- THE REST OF YOUR HTML CODE GOES HERE -->
      <form action="/discover" method="get">
            <div class="button1">
              <button type="submit" id="submit_button" name="submit" class="btn btn-dark">Login</button>
            </div>
          </div>
      </form>
    </div>
  </div>
      
  </main>

<%- include ('../partials/footer') %>