<%- include ('../partials/header') %>
<%- include ('../partials/menu2') %>

<main>
  <div class="col"><%- include ('../partials/message') %></div>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <h2>Laugh!</h2>
  </div>
</main>

<%- include ('../partials/footer') %>