<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<style>
  .login{
    position: relative;
    bottom: 45px;
    left: 0%;
  }
  .button1{
    position: relative;
    left: 94%;
  }

</style>
<main>
  <div class="col"><%- include ('../partials/message') %></div>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <form action="/login" method="post">
      <legend>
        <strong>Login</strong>
      </legend>
        <div class="form-element-wrapper">
          <label for= "username">Username</label>
          <input name= "username" type="username" class="form-control" id="username">
          <br>
          <label for= "password">Password</label>
          <input name = "password" type="password" class="form-control" id="password">
          <br>
          <div class="button1">
            <button type="submit" id="submit_button" name="submit" class="btn btn-dark">Login</button>
          </div>
        </div>
    </form>
    <div class="login" >
      <p>New User? <a class="nav-item" href="/register" position> Register </a></p>
    </div>
  </div>
</div>
    
</main>

<%- include ('../partials/footer') %>