<%- include ('../partials/header') %>
<%- include ('../partials/menu2') %>

<main>
    <div class="col"><%- include ('../partials/message') %></div>

    <div class="container">
        
        <h3>Current Username:</h3>
        <p>Test</p>

        <button type="submit" name="button_username" class="btn btn-block">Change Username</button>

    </div>

    <hr>

    <div class="container">
        
        <img src="img_link" alt="avatar" width="100" height="100">

        <button type="submit" name="button_avatar" class="btn btn-block">Change Avatar</button>

    </div>

    <hr>
    
    <div class="container">

        <button type="submit" name="button_username" class="btn btn-block">Change Password</button>

    </div>
</main>

<%- include ('../partials/footer') %>